<!DOCTYPE html> 
<head>
    <title>RAMBO SCOUT 2020</title>
</head>


<body>
<div class="header_1">
    <img src="<%= assetPath('dado.jpg') %>" alt="">
    
    <a href="<%= resultadoPath %> ">Elige tu destino</a>
</div>

</body>